<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<requiredRuntime version="v4.0.30319" />
	</startup>
	<runtime>
		<legacyUnhandledExceptionPolicy enabled="1"/>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib;addins"/>
		</assemblyBinding>
	</runtime>
</configuration>
